{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoW1TLS4eVEWOJQp8Hu6a6z5F8wZ1El5ZB1iMD+PqSkgsgvCJwA8Dd" crossorigin="anonymous">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <header class="page-header">
          <div class="container">
            <a href="{% url 'post_new' %}" class="top-menu">
                {% include './icons/file-earmark-plus.svg' %}
            </a>            
              <h1><a href="/">Django Girls Blog</a></h1>
          </div>
        </header>
        <main class="container">
            <div class="row">
                <div class="col">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </main>
    </body>
</html>